*{
    margin: 0px;
    padding: opx;
    font-family:'Nunito', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: 50px;
    align-items: center;
}
.logo{
    width: 130px;
    
}
.list-item{
    /* display: inline; */
    margin: 0px 20px;
    
}

.lis{
    display: flex;
    list-style: none;
   


}
.links{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
.links:hover{
    color: rgb(212, 172, 39);
}
.home-content{
    margin: 13% 0px 0px 8%;
}
#username{
    font-size: 70px;
    margin-bottom: 10px;
}
#lname{
    color: rgb(212, 172, 39);
}
#user-details{
    line-height: 1.5rem;
    font-size: medium;
    
}
/* download is an a tag, so we use inline block with margin top,  */
#download{
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px;
    font-size: smaller;
}

.home-images{
    width: 40%;
    height: 80%;
    position: absolute;
    right: 30px;
    bottom: 0;
}
.home-images>img{
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    /* to nullify the left */
    transform: translateX(-50%);
    transition: bottom 2s,left 1s;
}
.home-images:hover .shape{
    bottom: 80px;

}
.home-images:hover .girl{
    left: 40%;
}

/* about */

#about{
    margin: 17% 8% 0 8% ;
}
.section-head{
    text-align: center;
}
.mainhead{
    font-size: 45px;
}
.subhead{
    font-size: 20px;
}
.about-body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    align-items: center;
    margin-top: 20px;
}
.about-img img{
    width: 100%;
    border-radius: 10px;
}
.about-content{
    font-size: 20px;
    text-align: justify;
}
.info{
    margin-top: 1rem;
    
}
.info-box{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.info-box span{
    margin-left: 10px;
}
#skill{
    margin: 13% 8% 0 8%;
}
.skill-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 30px;

}
.skill-img img{
    width: 100%;
}
.bars h1 span{
    font-size: 1.5rem;

}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;

}
.base-bar{
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: black;
    bottom: 0px;
    border-radius: 10px;

}
.html-bar{
    width: 80%;
    background-color:rgb(212, 172, 39) ;
}
.css-bar{
    width: 70%;
    background-color:rgb(212, 172, 39) ;
}
.js-bar{
    width: 75%;
    background-color:rgb(212, 172, 39) ;
}
.react-bar{
    width: 60%;
    background-color:rgb(212, 172, 39) ;
}
.progress-bars{
    margin-top: 70px;
}
/* contact */
#contact{
    margin: 8% 8% 8% 8%;
}
.contact-head{
    text-align: center;
}
.mainhead{
    font-size: 2rem;
}
.contact-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.icon a{
    
    width: 50px;
    height: 50px;
    border: 1px solid black ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    text-decoration: none;

}
.brand{
   font-size: 20px;

}
.icon a:hover{
    background-image: linear-gradient(to bottom right,rgb(1, 1, 172),white);
}
.icon:hover .brand{
    color: aliceblue;
    animation: moves 1s;
}
@keyframes moves{
    0%{
        transform: rotate(20deg);
    }
    25%{
        transform: rotate(-20deg);
    }
     50%{
        transform: rotate(20deg);
    } 
    75%{
        transform: rotate(-20deg);
    }
}

footer p{
   text-align: center;
   margin-bottom: 50px;
}
.fb{
    color: rgb(36, 102, 214);
}
.x{
    color: rgb(23, 18, 18);
}
.inst{
    color:rgb(204, 43, 137);
}
.ln{
    color: rgb(23, 23, 231);
}
html{
    scroll-behavior: smooth;
}

